@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<h1>Hello from Login Page</h1>

<lock mode="Inline" >
    @*<lock-static-configuration domain="@Configuration["auth0:domain"]" client-id="@Configuration["auth0:clientId"]" callback-url="@Configuration["auth0:callbackUrl"]"/>*@
    <lock-oauth-configuration authentication-scheme="Auth0"/>
</lock>