@model IEnumerable<System.Security.Claims.Claim>
@{
    ViewBag.Title = "Profile";
}

<div class="row">
    <div class="col-md-12">
        <h2>Hello @User.Identity.Name</h2>

        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var claim in Model)
                {
                    <tr>
                        <td>@claim.Type</td>
                        <td>@claim.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>