@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>ASP.NET MVC Web Application</h2>

        @if (User.Identity.IsAuthenticated)
        {
            <p>Hello @User.Identity.Name! Click @Html.ActionLink("here", "Profile") to access your profile!</p>
        }
        else
        {
            <p>You are not authenticated. Press the <b>Login</b> button to sign in.</p>
        }
    </div>
</div>
